name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-label: ${{ steps.create-build-label.outputs.build-label }}

    steps:
      - uses: actions/checkout@v3
      
      - id: create-build-label
        run: |
          echo "::set-output name=build-label::${{ github.run_number }}"
          
  create-issue:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Create an issue
        uses: actions-ecosystem/action-create-issue@v1
        with:
          github_token: ${{ secrets.github_token }}
          title: ${{ needs.build.outputs.build-label }}
          body: |
            ## Since deployment of ${{ needs.build.outputs.build-label }}


      
