name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-label: ${{ steps.create-build-label.outputs.build-label }}

    steps:
      - uses: actions/checkout@v3
      
      - id: create-build-label
        run: |
          echo "::set-output name=build-label::${{ github.run_number }}"
          
  create-issue:
    runs-on: ubuntu-latest
    needs: build
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      
      - name: Find issue
        run: |
         echo GH_ISSUE=$(gh issue list --label deploy-prod --limit 1 --json "number" --jq '.[0].number') >> $GITHUB_ENV
         
      - name: Create issue
        if: ${{ !env.GH_ISSUE }}
        run: |
          gh issue create \
          --label deploy-prod \
          --title "Deployment Approvals" \
          --body "# Since deploying ${{ needs.build.outputs.build-label }} to production"

      - name: Get current issue body
        if: ${{ env.GH_ISSUE }}
        run: |
          echo 'ISSUE_BODY<<EOF' >> $GITHUB_ENV
          gh issue view "$GH_ISSUE" --json "body" --jq ".body" >> $GITHUB_ENV
          echo "- [ ] ${{ needs.build.outputs.build-label }} by @${{ github.event.head_commit.committer.username }}" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Update issue
        if: ${{ env.GH_ISSUE }}
        run: |
          echo "$ISSUE_BODY" | gh issue edit $GH_ISSUE --body-file -
