name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-label: ${{ steps.create-build-label.outputs.build-label }}

    steps:
      - uses: actions/checkout@v3
      
      - id: create-build-label
        run: |
          echo "::set-output name=build-label::${{ github.run_number }}"
          
  create-issue:
    runs-on: ubuntu-latest
    needs: build
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      
      - name: Update issue
        run: |
          GH_ISSUE=$(gh issue list --label deploy-prod --limit 1 --json "number" --jq '.[0].number') 
          
          if [ -z $GH_ISSUE ]; then
            gh issue create --label deploy-prod --body "# Since deploying ${{ needs.build.outputs.build-label }} to production"
          else 
            echo "$(gh issue view $GH_ISSUE --json "body" --jq '.body')\n\n- [ ] ${{ needs.build.outputs.build-label }}\n" \
            | gh issue edit $GH_ISSUE --body-file - 
          fi
