name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-label: ${{ steps.create-build-label.outputs.build-label }}

    steps:
      - uses: actions/checkout@v3
      
      - id: create-build-label
        run: |
          echo "::set-output name=build-label::${{ github.run_number }}"
          
  create-issue:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Find existing issue
        run: |
          echo GH_ISSUE_TO_UPDATE=$(gh api -H "Accept: application/vnd.github.v3+json" \
          "/repos/${{ github.repository }}/issues?sort=created&labels=deploy-prod&per_page=1" \
          | jq '.[0].id') >> $GITHUB_ENV
          
      - name: Create an issue
        if: ${{ !env.GH_ISSUE_TO_UPDATE }}
        uses: actions-ecosystem/action-create-issue@v1
        with:
          github_token: ${{ secrets.github_token }}
          title: ${{ needs.build.outputs.build-label }}
          body: |
            ## Since deployment of ${{ needs.build.outputs.build-label }}
          labels: deploy-prod


      
